<div class="wrapper">
  <header>
    <h1>АЛЬЯНС-ГРУП</h1>
    <ul>
      <li><a href=<% root_path %>>ГОЛОВНА</a></li>
      <li><a href=<% contact_path%>>КОНТАКТИ</a></li>
      <li><a href=<% works_path %>>НАШІ РОБОТИ</a></li>
      <li><a href=<% response_path %>>ВІДГУКИ</a></li>
      <li><a href=<% news_path %>>НОВИНИ</a></li>
    </ul>
  </header>

  <section class="about-us">
    <h1>01.12.2015 – відкриття</h1>
    <p>Наш девіз – Робимо все, немає нічого неможливого.</p>
    <div class="options">
      <ul>
        <li>Вікна</li>
        <li>Двері (вхідні та міжкімнатні)</li>
        <li>Балкони (сварка, обшивка, дах, винос)</li>
      </ul>
    </div>
    <h2>ЗАМІРИ – ПРОРАХУНОК – ДОГОВІР – ДОСТАВКА – ДЕМОНТАЖ – МОНТАЖ – ГАРАНТІЙНО-СЕРВІСНЕ ОБСЛУГОВУВАННЯ</h2>
    <p>Гарантуємо індивідуальний підхід, швидке виконання замовлення (до 2 тижні), гарантія якості.
        За період нашої роботи маємо понад 1500 клієнтів.
        Працюємо в Рівненській , Волинській , Дніпропетровській обл а також якщо потрібно можемо узгодити доставку в будь який регіон нашої країни!
        Працюємо з державними та європейськими програмами по утепленню. З нашою допомогою люди отримали більше 2’500’000 гривень компенсації.</p>
    <h2>Пропонуємо різні варіанти оплати:</h2>
    <div class="payment">
      <ul>
        <li>Готівка</li>
        <li>Оплата частинами</li>
        <li>Розстрочка (до 10 місяців під 0%)</li>
        <li>Кредит</li>
        <li>Валюта</li>
        <li>Картка</li>
      </ul>
  </div>
  </section>

  <section class="our-partners">
    <h1>Наші партнери</h1>
  </section>

  <section class="how-to-contact">
    <h1>Зв’язатися з нами</h1>
    <h2>Подзвоніть нам!</h2>
    <input type="text" placeholder="Назва">
    <input type="text" placeholder="Електрона пошта">
    <input type="text-area" placeholder="Повідомлення">
    <input type="button" value="Надіслати" >
    <h6>This site is protected by reCAPTCHA and the Google Privacy Policy and Terms of Service apply.</h6>
    <h2>А ще краще — зустріньтеся з нами особисто!</h2>
    <p>Ми любимо наших клієнтів, тож, не вагаючись, відвідайте нас у звичайний робочий час.</p>
    <h1>Години</h1>
  </section>

  <footer>
    <div class="address-phone">
      <h5>АЛЬЯНС-ГРУП</h5>
      <p>Рівне. вул.Фабрична 12 (ІІ поверх)</p>
      <div class="tel">
        <a href="tel:0689625423">0689625423</a>
        <a href="tel:0673607887">0673607887</a>
        <a href="tel:362407060">362407060</a>
      </div>
    </div>
    <div class="copy-right">
      <p>Copyright © 2019 Aliance-group - All Rights Reserved.</p>
      <p>На платформі GoDaddy Конструктор веб-сайтів</p>
    </div>
  </footer>
</div>
